[Unit]
Description=Kafka publish-subscribe messaging system
Requires=zookeeper@kafka.service
After=network.target zookeeper@kafka.service

[Service]
User=kafka
Group=kafka
SyslogIdentifier=kafka
Type=forking
SuccessExitStatus=143
ExecStart=/usr/bin/kafka-server-start.sh -daemon /etc/kafka/server.properties
ExecStop=/usr/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
